--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
qdax[cuda12]
# jax[cuda12_pip]==0.4.28
# evosax==0.1.6
notebook
kheperax 
hydra-core
hydra-joblib-launcher
# hydra-nevergrad-sweeper
wandb
ribs[visualize]
tqdm